In [19]:
import stripe
import pandas as pd
from time import sleep
from config import api_key
from config import host, database, user, password
import psycopg2

In [26]:
def get_df():
    sub_df = pd.DataFrame()
    stripe.api_key = api_key
                                                        
    #first query to get response id
    first_response = stripe.Subscription.list(status='all')
    #creating dataframe with responses
    sub_df = sub_df.append(pd.json_normalize(first_response['data']))
    #defining next page for loops
    start_after = first_response['data'][-1]['id']
    print('Getting Results')

    while True:    
        try:
            #appending to the dataframe
            response = stripe.Subscription.list(starting_after=start_after, status='all')
            subscription_df = pd.json_normalize(response['data'])
            sub_df = sub_df.append(subscription_df, ignore_index=True)
            #giving the key for the next iteration
            start_after = response['data'][-1]['id']
            #ask george about rate limit issues
            sleep(1)
        except:
            print('Stripe Request went wrong')
        
        
        if response["has_more"] == False:
            break
    return sub_df

In [25]:
get_df()

sub_1Kz2BcLnLiSMHjeFh9cOpONA
sub_1KyJ8ILnLiSMHjeFsr8l7YpQ
sub_1KxmDpLnLiSMHjeFOmx6ASwj
sub_1KwylLLnLiSMHjeFpLiKGolH
sub_1Kw5edLnLiSMHjeFIhNa8qmI
sub_1Ku3PiLnLiSMHjeFpRWVmE5f
sub_1Ktcs9LnLiSMHjeFnmAdebyC
sub_1KstqqLnLiSMHjeFdysVRncl
sub_1KrWPhLnLiSMHjeFdv1ghYW2
sub_1KqTjtLnLiSMHjeFfkNgtZDI
sub_1Kp4UCLnLiSMHjeFHWphljMB
sub_1KoMORLnLiSMHjeFbbwf4rh3
sub_1KnAEuLnLiSMHjeF4Mu9PAhQ
sub_1Km8iZLnLiSMHjeFBUFwi1yi
sub_1Klgf1LnLiSMHjeFqCeWOyhM
sub_1Kki2WLnLiSMHjeFe57rY7Q9
sub_1KkDPYLnLiSMHjeFEY40xjho
sub_1KjpfQLnLiSMHjeFMHwpKPKl
sub_1KiUm7LnLiSMHjeFueX3hjmb
sub_1KhidHLnLiSMHjeF2b4Z2Jo9
sub_1Kh0OCLnLiSMHjeFA8ZpSJvw
sub_1KfG5kLnLiSMHjeFw0bFald6
sub_1KeRlSLnLiSMHjeFSIx2kGOh
sub_1KdOdnLnLiSMHjeFnEOQ9lhw
sub_1KcGRbLnLiSMHjeF954DyLnI
sub_1KbKgCLnLiSMHjeFhqVll3zd
sub_1KaAZQLnLiSMHjeFHOp6QEmC
sub_1KZ36RLnLiSMHjeFOP00KYoY
sub_1KXzrXLnLiSMHjeF5fwLiZU1
sub_1KXAPXLnLiSMHjeFji7KK8NP
sub_1KWXAWLnLiSMHjeFzfIJLWW5
sub_1KVi7nLnLiSMHjeFldkFoQxn
sub_1KUbQPLnLiSMHjeFAShuH1BX
sub_1KTIoBLnLiSMHjeFr1EsJXeN
sub_1KSUzzLnLiSMHjeFpfl54OEt
sub_1KRJsILnLiSMHjeFccRPeItc
sub_1KPxd0LnLiSMHjeFrHg0yVo8
sub_1KORXMLnLiSMHjeFDPBG453r
sub_1KN5ycLnLiSMHjeFZ7Y2DKBM
sub_1KMcRjLnLiSMHjeFeiu1ShKW
sub_1KMNeNLnLiSMHjeFJxAuJIo0
sub_1KLgwXLnLiSMHjeFVExvkGEy
sub_1KKanZLnLiSMHjeFH1ukMhae
sub_1KJOoULnLiSMHjeFA5Qi9tJD
sub_1KHJ2DLnLiSMHjeFy0jaOvRY
sub_1KFqZoLnLiSMHjeFvmWqkAky
sub_1KEjiWLnLiSMHjeFF55q69Rf
sub_1KDLrYLnLiSMHjeF3P6VflDw
sub_1KCVpkLnLiSMHjeFgrjLAqZY
sub_1KBQAzLnLiSMHjeFUmYJ1b52
sub_1KARpYLnLiSMHjeFtdcnCoAx
sub_1K9IjILnLiSMHjeFIu7Xax9N
sub_1K7occLnLiSMHjeFTzRRkC6e
sub_1K6KCALnLiSMHjeFsIDQYl1u
sub_1K4zpMLnLiSMHjeFhuHvov0s
sub_1K3fY5LnLiSMHjeFPaeRpBfx
sub_1K2LomLnLiSMHjeFy9OVp5V2
sub_1K0HZfLnLiSMHjeF5EswcZdR
sub_1JyLxwLnLiSMHjeF2fNhyvfJ
sub_1JwFPhLnLiSMHjeFGRFEDBq0
sub_1JtdlMLnLiSMHjeFAkQ4nw41
sub_1Jqq9VLnLiSMHjeF0TnHnhYv
sub_1JpckgLnLiSMHjeFbDtoc4J5
sub_1JoWZbLnLiSMHjeF2EDtdshY
sub_1JmZQNLnLiSMHjeFXpBbpPGS
sub_1JljKeLnLiSMHjeFMNka8uvz
sub_1JlPiPLnLiSMHjeFsVif9VeW
sub_1Jk33ULnLiSMHjeFR1mktkEY
sub_1JjYf6LnLiSMHjeFfifNJu6i
sub_1JjYbPLnLiSMHjeFc23IXuO8
sub_1JiMFWLnLiSMHjeFYwGRXnsR
sub_1JgJ6fLnLiSMHjeFCdReEK4a
sub_1JfcnVLnLiSMHjeFgGCQkIET
sub_1JejdMLnLiSMHjeF0bhgAIsg
sub_1JdGTvLnLiSMHjeFHp4FjNJ8
sub_1JbsvyLnLiSMHjeFSg9i9tqX
sub_1Jb9EFLnLiSMHjeF1Zj9Gfgb
sub_1Ja5WvLnLiSMHjeFUewG014C
sub_KCe5GiC5Do3nJR
sub_KAp1QAjMFyQTjB
sub_KADpMaEadTPjWN
sub_K9jpxOtFQI4eqE
sub_K8uH9J5g755bA7
sub_K7qnJOGNcG5PRS
sub_K5W7SDut6UuD0E
sub_K4WH5K4Bndv99d
sub_K2fkX6u0nppKy9
sub_K0RXneRbgj9lce
sub_JyUfZ47N2sOPiA
sub_JwH1ZMhLnPOSJg
sub_JvC2IiOQWZioDs
sub_Juj6PSwK1B3yjc
sub_JsB8TqQX3VpUhb
sub_JqJO5eP1ZUMZr1
sub_JnMOqaeg2vN7PC
sub_Jm2gD0cH1UARv2
sub_JjwE24wbnJdjLn
sub_JiH0swYppm7zYt
sub_JdqOFRbjakRlgb
sub_Jba0EVrXOGwJMe
sub_JYYTP0HM1XaPJ2
sub_JVfVdbSZq8axe2
sub_JSDLzZjmnHwS7b
sub_JPZt63NnYwc0YZ
sub_JOF0UQnyl493KE
sub_JM1hAkxPI08V4f
sub_JJMuZU1wmPD8l2
sub_J72VIIgdwZfQcL
sub_IqN8SfzfWDo1t6
sub_IjNkFJZeVnrPFQ
sub_IYMJ6jpmB9RO09
sub_IMlm3sfEwpDhyI
sub_I9hFo9BcWMJXcr
sub_HuI5QCmh6NatBC

,id,object,application,application_fee_percent,billing_cycle_anchor,billing_thresholds,cancel_at,cancel_at_period_end,canceled_at,collection_method,...,plan.livemode,plan.nickname,plan.product,plan.tiers,plan.tiers_mode,plan.transform_usage,plan.trial_period_days,plan.usage_type,pause_collection.behavior,pause_collection.resumes_at
0,sub_1L0to2LnLiSMHjeFqRWDTNLf,subscription,None,None,1652906958,None,NaN,False,NaN,charge_automatically,...,True,None,prod_Hj1soBH2jO8V4b,None,None,None,None,licensed,NaN,NaN
1,sub_1L0o8BLnLiSMHjeFVkfCf8Hg,subscription,None,None,1652885143,None,NaN,False,NaN,charge_automatically,...,True,None,prod_Hj1soBH2jO8V4b,None,None,None,None,licensed,NaN,NaN
2,sub_1L0clTLnLiSMHjeFAvEH6W1C,subscription,None,None,1652841450,None,NaN,False,NaN,charge_automatically,...,True,None,prod_Hj1soBH2jO8V4b,None,None,None,None,licensed,NaN,NaN
3,sub_1L0WmwLnLiSMHjeFL1tkazpd,subscription,None,None,1652818478,None,NaN,False,NaN,charge_automatically,...,True,None,prod_Hj1soBH2jO8V4b,None,None,None,None,licensed,NaN,NaN
4,sub_1L0L7kLnLiSMHjeFt1fjE9s7,subscription,None,None,1652773640,None,NaN,False,NaN,charge_automatically,...,True,None,prod_Hj1soBH2jO8V4b,None,None,None,None,licensed,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1145,sub_HxRsSFzSCdOCao,subscription,None,None,1599195439,None,None,False,1608583771.0,charge_automatically,...,True,None,prod_Hj1soBH2jO8V4b,None,None,None,None,licensed,NaN,NaN
1146,sub_Hx4l1OOH4jFpCg,subscription,None,None,1599109429,None,None,False,1606172232.0,charge_automatically,...,True,None,prod_Hj1soBH2jO8V4b,None,None,None,None,licensed,NaN,NaN
1147,sub_Hx4hMQdjs9NK8q,subscription,None,None,1599109203,None,None,False,1599109376.0,charge_automatically,...,True,None,prod_Hj1soBH2jO8V4b,None,None,None,None,licensed,NaN,NaN
1148,sub_Hww73rW1qJJn9n,subscription,None,None,1599077260,None,None,False,1599082600.0,charge_automatically,...,True,None,prod_Hj1soBH2jO8V4b,None,None,None,None,licensed,NaN,NaN
1149,sub_HuI5QCmh6NatBC,subscription,None,None,1598467046,None,None,False,1599081979.0,charge_automatically,...,True,None,prod_Hj1soBH2jO8V4b,None,None,None,None,licensed,NaN,NaN

In [27]:
def cleaning_df(df):
    df = df[['id', 'object', 'billing_cycle_anchor', 'cancel_at', 'cancel_at_period_end', 'canceled_at', 'created', 'current_period_end', 'current_period_start', 'customer', 'ended_at', 'livemode', 'quantity', 'schedule', 'start_date', 'status']]
    df['billing_cycle_anchor'] = pd.to_datetime(sub_df['billing_cycle_anchor'], unit='s')
    df['canceled_at'] = pd.to_datetime(sub_df['canceled_at'], unit='s')
    df['created'] = pd.to_datetime(sub_df['created'], unit='s')
    df['current_period_end'] = pd.to_datetime(sub_df['current_period_end'], unit='s')
    df['current_period_start'] = pd.to_datetime(sub_df['current_period_start'], unit='s')
    df['ended_at'] = pd.to_datetime(sub_df['ended_at'], unit='s')
    df['start_date'] = pd.to_datetime(sub_df['start_date'], unit='s')
    return df

In [28]:
cleaning_df(sub_df)

,id,object,billing_cycle_anchor,cancel_at,cancel_at_period_end,canceled_at,created,current_period_end,current_period_start,customer,ended_at,livemode,quantity,schedule,start_date,status
0,sub_1L0o8BLnLiSMHjeFVkfCf8Hg,subscription,2022-05-18 14:45:43,NaN,False,NaT,2022-05-18 14:45:43,2022-06-18 14:45:43,2022-05-18 14:45:43,cus_IPRSKWfJ8rvJon,NaT,True,1,None,2022-05-18 14:45:43,active
1,sub_1L0clTLnLiSMHjeFAvEH6W1C,subscription,2022-05-18 02:37:30,NaN,False,NaT,2022-05-18 02:37:30,2022-06-18 02:37:30,2022-05-18 02:37:30,cus_LJWv5EXpbQsMH4,NaT,True,1,None,2022-05-18 02:37:30,active
2,sub_1L0WmwLnLiSMHjeFL1tkazpd,subscription,2022-05-17 20:14:38,NaN,False,NaT,2022-05-17 20:14:38,2022-06-17 20:14:38,2022-05-17 20:14:38,cus_LhwfpiXrfAWiTa,NaT,True,1,None,2022-05-17 20:14:38,active
3,sub_1L0L7kLnLiSMHjeFt1fjE9s7,subscription,2022-05-17 07:47:20,NaN,False,NaT,2022-05-17 07:47:20,2022-06-17 07:47:20,2022-05-17 07:47:20,cus_Lhkbl50m4ZbCQR,NaT,True,1,None,2022-05-17 07:47:20,active
4,sub_1L05FMLnLiSMHjeFnzWfoxR6,subscription,2022-05-16 14:50:07,NaN,False,NaT,2022-05-16 14:50:07,2022-06-16 14:50:07,2022-05-16 14:50:07,cus_LPY3TWeGZ0vyVv,NaT,True,1,None,2022-05-16 14:50:07,active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1144,sub_HxRsSFzSCdOCao,subscription,2020-09-04 04:57:19,None,False,2020-12-21 20:49:31,2020-09-04 04:57:19,2021-01-04 04:57:19,2020-12-04 04:57:19,cus_HsxJ4mZ2mIvuaw,2020-12-21 20:49:31,True,1,None,2020-09-04 04:57:19,canceled
1145,sub_Hx4l1OOH4jFpCg,subscription,2020-09-03 05:03:49,None,False,2020-11-23 22:57:12,2020-09-03 05:03:49,2020-12-03 05:03:49,2020-11-03 05:03:49,cus_HsRzIRAfM5a8Pt,2020-11-23 22:57:12,True,1,None,2020-09-03 05:03:49,canceled
1146,sub_Hx4hMQdjs9NK8q,subscription,2020-09-03 05:00:03,None,False,2020-09-03 05:02:56,2020-09-03 05:00:03,2020-10-03 05:00:03,2020-09-03 05:00:03,cus_HsRzIRAfM5a8Pt,2020-09-03 05:02:56,True,1,None,2020-09-03 05:00:03,canceled
1147,sub_Hww73rW1qJJn9n,subscription,2020-09-02 20:07:40,None,False,2020-09-02 21:36:40,2020-09-02 20:07:40,2020-10-02 20:07:40,2020-09-02 20:07:40,cus_HsRzIRAfM5a8Pt,2020-09-02 21:36:40,True,1,None,2020-09-02 20:07:40,canceled
1148,sub_HuI5QCmh6NatBC,subscription,2020-08-26 18:37:26,None,False,2020-09-02 21:26:19,2020-08-26 18:37:26,2020-09-26 18:37:26,2020-08-26 18:37:26,cus_HsRzIRAfM5a8Pt,2020-09-02 21:26:19,True,1,None,2020-08-26 18:37:26,canceled

In [23]:
def connect(host, database, user, password):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(host=host, database=database, user=user, password=password)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        sys.exit(1) 
    print("Connection successful")
    return conn
conn = connect(host, database, user, password)

Connecting to the PostgreSQL database...
Connection successful

In [ ]:
def database_activities(conn, df, table):
    
    
    """
    Using cursor.mogrify() to build the bulk insert query
    then cursor.execute() to execute the query
    """
    # Create a list of tupples from the dataframe values
    tuples = [tuple(x) for x in df.to_numpy()]
    # Comma-separated dataframe columns
    cols = ','.join(list(df.columns))
    # SQL quert to execute
    cursor = conn.cursor()
    values = [cursor.mogrify("(%s,%s,%s)", tup).decode('utf8') for tup in tuples]
    query  = "INSERT INTO %s(%s) VALUES " % (table, cols) + ",".join(values)
    
    try:
        cursor.execute(query, tuples)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
#         print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    print("execute_mogrify() done")
    cursor.close()